.header__logo {
    display: block;
    background-image: url(../../../images/__logo.svg);
    width: 176px;
    height: 52px;
    background-size: contain;
}

.header__logo:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .header__logo {
      width: 176px;
      height: 52px;
    }
}


  @media screen and (max-width: 320px) {
    .header__logo {
    max-width: 142px;
    max-height: 42px;
    }
  }
