.logo__place-header {
    display: block;
    background-image: url(../../../images/__logo.svg);
    width: 176px;
    height: 52px;
    background-size: contain;
}

.logo__place-header:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .logo__place-header {
  }
}

@media screen and (max-width: 768px) {
    .logo_place-header {
      width: 176px;
      height: 52px;
    }
}


  @media screen and (max-width: 320px) {
    .logo__place-header {
    max-width: 142px;
    max-height: 42px;
    }
  }
