.info {
    margin-top: 92px;
}

@media screen and (max-width: 768px) {
    .info  {
        margin-top: 136px;
            }
    }

    
@media screen and (max-width: 320px) {
    .info  {
        margin-top: 64px;
            }
    }
